<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template that uses Bootstrap</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link href="framework/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h1>Phone Cloud Registration App</h1>
    
    <!-- Sets Android as default radio button choice -->
    <div ng-app="" ng-init="osType = 'Android'; osArray = [{type:'Android', phone:'HTC 8X'}, {type:'Android', phone:'Samsung Galaxy 7'}, {type:'Android', phone:'Sony Xperia Z5'}, {type:'IOS', phone:'IPhone 6'}, {type:'IOS', phone:'IPhone 6s'}, {type:'IOS', phone:'IPhone 6s Plus'}, {type:'Windows', phone:'HTC One M9'}, {type:'Windows', phone:'Microsoft 950'}, {type:'Windows', phone:'Microsoft 950XL'}]">
    
    <p><label>Enter user name: <input type="text" ng-model="userName"/></label></p>
    <p><label>Enter password: <input type="password" ng-model="password"/></label></p>
    <p><label>Re-enter password: <input type="password" ng-model="password_valid"/></label><span ng-show="password_valid != password">Password does not match</span></p>
    
    <h2>Phone Operating System</h2>
    <p>
        <label><input type="radio" name="osType" ng-model="osType" value="Android"/>Android</label>
        <label><input type="radio" name="osType" ng-model="osType" value="IOS"/>IOS</label>
        <label><input type="radio" name="osType" ng-model="osType" value="Windows"/>Windows</label>
    </p>
    <h3>Phone Model</h3>
    <p><label>Select phone model: </label>
        <select ng-model="model">
            <option ng-repeat="x in osArray | filter: {type : osType}" value="{{x.phone}}">{{ x.phone }}</option>
        </select>
    </p>
    <h3>Summary</h3>
    <ul>
        <li>Username: {{ userName }}</li>
        <li>OS: {{ osType }}</li>
        <li>Phone: {{ model }}</li>
    </ul>
    </div>
    <script src="framework/js/jquery.min.js"></script>
    <script src="framework/js/bootstrap.min.js"></script>
    <script src="framework/js/angular.min.js"></script>
</body>

</html>